<section class="ads">
  <div class="ad ad--one">
    <div class="ad--one__text">
      <div class="ad--one__text__title">
        <h3>The Best Platform for Car Rental</h3>
      </div>
      <div class="ad--one__text__explanation">
        <h5>
          Ease of doing a car rental safely and reliably. Of course at a low
          price.
        </h5>
      </div>
    </div>
    <button class="ad--one__btn btn">
      <a href="#">
        <h5>Rent Car</h5>
      </a>
    </button>
    <div class="ad--one__img">
      <img src="./Assets/images/image 7.svg" alt="Car" />
    </div>
  </div>
  <div class="ad ad--two">
    <div class="ad--two__text">
      <div class="ad--two__text__title">
        <h3>Easy way to rent a car at a low price</h3>
      </div>
      <div class="ad--two__text__explanation">
        <h5>
          Providing cheap car rental services and safe and comfortable
          facilities.
        </h5>
      </div>
    </div>
    <button class="ad--two__btn btn">
      <a href="#">
        <h5>Rent Car</h5>
      </a>
    </button>
    <div class="ad--two__img">
      <img src="./Assets/images/image 8.svg" alt="Car" />
    </div>
  </div>
</section>
