<footer>
  <div class="footer container">
    <div class="footer__header">
      <div class="footer__header__logo"><h1>MORENT</h1></div>
      <div class="footer__header__explain">
        <p>
          Our vision is to provide convenience and help increase your sales
          business.
        </p>
      </div>
    </div>
    <div class="footer__options">
      <div>
        <div class="footer__options__title"><h2>About</h2></div>
        <ul>
          <li>
            <a href="#"><h3>How it works</h3></a>
          </li>
          <li>
            <a href="#"><h3>Featured</h3></a>
          </li>
          <li>
            <a href="#"><h3>Partnership</h3></a>
          </li>
          <li>
            <a href="#"><h3>Bussiness Relation</h3></a>
          </li>
        </ul>
      </div>
      <div>
        <div class="footer__options__title"><h2>Socials</h2></div>
        <ul>
          <li>
            <a href="#"><h3>Discord</h3></a>
          </li>
          <li>
            <a href="#"><h3>Instagram</h3></a>
          </li>
          <li>
            <a href="#"><h3>Twitter</h3></a>
          </li>
          <li>
            <a href="#"><h3>Facebook</h3></a>
          </li>
        </ul>
      </div>
      <div>
        <div class="footer__options__title"><h2>Community</h2></div>
        <ul>
          <li>
            <a href="#"><h3>Events</h3></a>
          </li>
          <li>
            <a href="#"><h3>Blog</h3></a>
          </li>
          <li>
            <a href="#"><h3>Podcast</h3></a>
          </li>
          <li>
            <a href="#"><h3>Invite a friend</h3></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__policy">
      <a href="#"> <h5>Privacy & Policy</h5> </a>
      <a href="#"> <h5>Terms & Condition</h5> </a>
      <a href="#">
        <h5>©2022 MORENT. All rights reserved</h5>
      </a>
    </div>
  </div>
</footer>
