<header>
  <div class="header">
    <div class="header__logo"><h1>MORENT</h1></div>
    <div class="header__options">
      <div class="header__options__favorite">
        <img src="./Assets/images/favorite-svgrepo-com.svg" alt="favorite" />
      </div>
      <div class="header__options__notification">
        <img
          src="./Assets/images/notification-bell-new-svgrepo-com.svg"
          alt="Notif"
        />
      </div>
      <div class="header__options__Setting">
        <img src="./Assets/images/setting-2-svgrepo-com.svg" alt="Settings" />
      </div>
      <div class="header__options__profile">
        <img src="./Assets/images/Imageprofile.svg" alt="Profile" />
      </div>
    </div>
    <div class="search">
      <div class="search__bar">
        <img src="./Assets/images/search-alt-svgrepo-com.svg" alt="search" />
        <input type="text" id="search" placeholder="Search something here" />
        <div class="search__bar--filter">
          <img src="./Assets/images/filter-edit-svgrepo-com.svg" alt="filter" />
        </div>
      </div>
      <div class="search__filter">
        <img src="./Assets/images/filter-edit-svgrepo-com.svg" alt="filter" />
      </div>
    </div>
  </div>
</header>
