<h3 id="Popular-heading" class="container">Popular Car</h3>
<div class="popular container">
  <div class="popular__car">
    <div class="popular__car__head">
      <h3>Koenigsegg</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />
      <h5>Sport</h5>
    </div>
    <img src="./Assets/images/image 7.svg" alt="car" />
    <div class="popular__car__info popular__car__info--one">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="peaple" />
      </div>
    </div>
    <div class="popular__car__rent">
      <h5>$99.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="popular__car">
    <div class="popular__car__head">
      <h3>Nissan GT - R</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />

      <h5>Sport</h5>
    </div>
    <img src="./Assets/images/image 8.svg" alt="car" />
    <div class="popular__car__info popular__car__info--two">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="peaple" />
      </div>
    </div>
    <div class="popular__car__rent">
      <h5>$80.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="popular__car">
    <div class="popular__car__head">
      <h3>Rolls - Royce</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />

      <h5>Sedan</h5>
    </div>
    <img src="./Assets/images/Car (2).svg" alt="car" />
    <div class="popular__car__info popular__car__info--three">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="peaple" />
      </div>
    </div>
    <div class="popular__car__rent">
      <h5>$96.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="popular__car">
    <div class="popular__car__head">
      <h3>Nissan GT - R</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />

      <h5>Sport</h5>
    </div>
    <img src="./Assets/images/image 8.svg" alt="car" />
    <div class="popular__car__info popular__car__info--four">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="peaple" />
      </div>
    </div>
    <div class="popular__car__rent">
      <h5>$80.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
</div>
