<div class="recomendation-heading container">
  <h3>Recomendation Car</h3>
</div>
<div class="recomendation">
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>All New Rush</h3>

      <img src="./Assets/images/favorite-svgrepo-com22.svg" alt="favorite" />
      <h5>SUV</h5>
    </div>
    <img src="./Assets/images/recomendationCar1.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--one">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$72.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>CR - V</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />
      <h5>SUV</h5>
    </div>
    <img src="./Assets/images/Cartwo.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--two">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$80.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>All New Terios</h3>

      <img src="./Assets/images/favorite-svgrepo-com22.svg" alt="favorite" />
      <h5>SUV</h5>
    </div>
    <img src="./Assets/images/Carthree.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--three">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$74.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>CR - V</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />
      <h5>SUV</h5>
    </div>
    <img src="./Assets/images/Carfour.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--four">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$80.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>MG ZX Exclusice</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />
      <h5>Hatchback</h5>
    </div>
    <img src="./Assets/images/Carfive-seven.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--five">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$76.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>New MG ZS</h3>

      <img src="./Assets/images/favorite-svgrepo-com22.svg" alt="favorite" />
      <h5>SUV</h5>
    </div>
    <img src="./Assets/images/Carsix.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--six">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$80.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>MG ZX Excite</h3>

      <img src="./Assets/images/favorite-svgrepo-com2.svg" alt="favorite" />
      <h5>Hatchback</h5>
    </div>
    <img src="./Assets/images/Carfive-seven.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--seven">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$74.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__car">
    <div class="recomendation__car__head">
      <h3>New MG ZS</h3>

      <img src="./Assets/images/favorite-svgrepo-com22.svg" alt="favorite" />
      <h5>SUV</h5>
    </div>
    <img src="./Assets/images/Careight.svg" alt="car" />
    <div class="recomendation__car__info recomendation__car__info--eight">
      <div>
        <img src="./Assets/images/gas-station-svgrepo-com.svg" alt="gas" />
      </div>
      <div>
        <img
          src="./Assets/images/steering-wheel-svgrepo-com.svg"
          alt="steering-wheel"
        />
      </div>
      <div>
        <img src="./Assets/images/people-svgrepo-com.svg" alt="people" />
      </div>
    </div>
    <div class="recomendation__car__rent">
      <h5>$80.00/</h5>
      <button class="btn">
        <a href="#"><h5>Rent Now</h5></a>
      </button>
    </div>
  </div>
  <div class="recomendation__more">
    <button class="btn">
      <a href="#">
        <h5>Show More Car</h5>
      </a>
    </button>
    <h4>120 Cars</h4>
  </div>
</div>
