<div class="rent-info">
  <div class="rent-info__option rent-info__pick-up">
    <div class="rent-info__title">
      <div class="rent-info__pick-up__title__circle"></div>
      <h3>Pick-Up</h3>
    </div>
    <div class="rent-info__options">
      <div class="rent-info__options__location">
        <h3>Location</h3>
        <select name="location" class="select-location">
          <option value="location">Semarang</option>
          <option value="location">Berlin</option>
          <option value="location">Paris</option>
        </select>
      </div>
      <div class="rent-info__options__date">
        <h3>Date</h3>
        <input class="select-date" type="date" value="2022-03-20" />
      </div>
      <div class="rent-info__options__time">
        <h3>Time</h3>
        <input type="time" class="select-time" value="07:00" />
      </div>
    </div>
  </div>
  <div class="rent-info__change-btn">
    <button class="btn">
      <a href="#"
        ><img src="./Assets/images/exchange-svgrepo-com.svg" alt="change"
      /></a>
    </button>
  </div>
  <div class="rent-info__option rent-info__drop-off">
    <div class="rent-info__title">
      <div class="rent-info__drop-off__title__circle"></div>
      <h3>Drop-Off</h3>
    </div>
    <div class="rent-info__options">
      <div class="rent-info__options__location">
        <h3>Location</h3>
        <select name="location" class="select-location">
          <option value="location">Semarang</option>
          <option value="location">Berlin</option>
          <option value="location">Paris</option>
        </select>
      </div>
      <div class="rent-info__options__date">
        <h3>Date</h3>
        <input class="select-date" type="date" value="2022-03-21" />
      </div>
      <div class="rent-info__options__time">
        <h3>Time</h3>
        <input type="time" class="select-time" value="13:00" />
      </div>
    </div>
  </div>
</div>
